doctype html
html
  head
    meta(charset='UTF-8')
    title CodePen - A Pen by  user
  body
    // DataTables CSS
    link(rel='stylesheet', type='text/css', href='http://cdn.datatables.net/1.10.5/css/jquery.dataTables.css')
    // jQuery
    script(type='text/javascript', charset='utf8', src='http://code.jquery.com/jquery-1.10.2.min.js')
    // DataTables
    #{user.username}
    button(onclick='buttnclick2()') restart
	button(onclick='buttnclick3()') dump
    script(src='js/index2.js')
    script(src='/socket.io/socket.io.js')