doctype html
  body
    .row
        .small-12.small-centered.columns
            form
              .row
                .large-12.columns
                  label
                    | Fonbet
                    input(type='text', placeholder='url')
        .row
          .small-12.small-centered.columns
            form
              .row
                .large-12.columns
                  label
                    | Olimp
                    input(type='text', placeholder='url')
        .row
          .small-12.small-centered.columns
            form
              .row
                .large-12.columns
                  label
                    | Betcity
                    input(type='text', placeholder='url')
        .row
          .small-12.small-centered.columns
            form
              .row
                .large-12.columns
                  label
                    | Marathon
                    input(type='text', placeholder='url')
        .row
          .small-12.small-centered.columns
            form
              .row
                .large-12.columns
                  label
                    | Bet365
                    input(type='text', placeholder='url')
        .row
          .small-12.small-centered.columns
            form
              .row
                .large-12.columns
                  label
                    | Pinacle
                    input(type='text', placeholder='url')
        .row
          .small-12.small-centered.columns
            form
              .row
                .large-12.columns
                  label
                    | WilliamsHill
                    input(type='text', placeholder='url')
        .row
          .small-12.small-centered.columns
            form
              .row
                .large-12.columns
                  label
                    | Titanbet
                    input(type='text', placeholder='url')
    
  |   
  script(src='js/jquery-2.1.3.min.js')
  |   
  script(src='http://cdn.foundation5.zurb.com/foundation.js')